:root {
    --orange: #ef694d;
    --lemon: #dddb76;
    --whiteblue: #e4f2ef;
    --sea: #388895;
    --black : #42403f;

    --light-orange: #FFC996;
    --sunset: #FF8474;
    --light-purple: #9F5F80;
    --dark-purple: #583D72;

    --dark-blue: #194769;
}
